
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navbar .nav-link:hover {
  transform: scale(1.1);
}

.carousel-item{
    height: 100vh;
    background: black;
    position: relative;
    color: white;
}

.carousel-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 150px;
}

.carousel-icon{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
}

.overlay-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

#carousel{
    transform: translate(20px,20px);
}

.getCall{
    height: 500px;
    width: 100%;
    background: rgb(230, 224, 224);
}

.constructions{
    
    width: 100%;
    background: white;
}

.col-md-12{
    padding: 0 !important;
}

.constructions .card-item {
    border: 1px solid rgba(82, 86, 94, 0.2);
    background: #fff;
    position: relative;
    border-radius: 0;
  }

.constructions .card-item .card-bg {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .constructions .card-item .card-body {
    padding: 30px;
  }

  .services .service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
  }

  i:hover{
    color: goldenrod;
  }

  .services .indexServices{
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .services-container .card{
    background: aliceblue;
  }

  .services-container .card:hover {
    transform: scale(1.1);
  }

  .project-card{
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .projects .col-md-3:hover {
    transform: scale(1.1);
  }

  .footer{
    height: 55vh;
    background: black;
    position: relative;
    color: white;
  }

  .footer .overlay-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
  }

  

  .team{
    min-height: 250px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
  }

  .servicesPage{
    background-color: rgb(207, 212, 216);
  }

  .serviceImage{
    min-height: 150px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
  }

  .projectImage{
    min-height: 200px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
  }

  .projectImage:hover{
    transform: scale(1.1);
  }
  @media screen and (max-width: 769px) {
    .col-lg-6{
        margin-top: 20px;
    }
    .footer{
        height: 70vh;
        background: black;
        position: relative;
        color: white;
      }
  }

  @media screen and (max-width: 426px){
    .getCall{
        height: 1000px;
        width: 100%;
        background: rgb(230, 224, 224);
    }

    .col-lg-6{
        margin-top: 20px;
    }

    .constructions{
        width: 100%;
        background: white;
    }

    .footer{
        height: 230vh;
        background: black;
        position: relative;
        color: white;
      }



      
  }